<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="i3_accountNumber" content="12345678">
	<meta name="i3_name1" content="John Doe">
	<meta name="i3_name2" content="Jane Smith">
	<meta name="i3_address1" content="123 State St">
	<meta name="i3_address2" content="">
	<meta name="i3_address3" content="">
	<meta name="i3_city" content="San Francisco">
	<meta name="i3_state" content="CA">
	<meta name="i3_zip" content="94321">
	<meta name="i3_docId" content="11111">
	<meta name="i3_docTotalPages" content="3">
	<meta name="i3_docCurrPage" content="1">
	<style>
		@media print {
			body {
				margin: 0;
				width: 7.625in;
				min-height: 10.5in;
				padding: .25in .25in .25in .625in;
			}
		}
	</style>
</head>
<body>
	$body
</body>
</html>
